body
  font-family: Roboto
  font-size: 14px
  margin: 0
header
  text-align: center
  position: relative
  h1
    position: relative
    color: #fff
    margin: 0
    .Photo
      margin-bottom: -70px
      width: 120px
      height: 150px
      background-size: cover
      margin-right: 20px
    .Photo-pay
      position: absolute
      top: 10px
      left: 8%
      width: 120px
      height: 150px
      background-size: cover
      margin-right: 20px
.create,.read,.update,.delete
  width: 50%
  height: 42vh
  float: left
  text-align: center
  position: relative
  h1
    a
      display: block
      text-decoration: none
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      color: #fff
      padding: 20%
.create
  background: #536ed2
.read
  background: #dac41d
.update
  background: #3cb187
.delete
  background: #b33c3c
.form
  position: absolute
  font-size: 16px
  top: 30%
  left: 50%
  transform: translate(-50%,-10%)
  width: 250px
  padding: 40px 40px 0 40px
  background: #635858
  border-radius: 2px
  transition: .2s ease-in-out all
  form
    label
      display: block
      margin: 0
      padding: 5px 0
      color: #fff
    .upload-input
      width: 175px
    input
      float: none
      margin-left: 50px
      margin-bottom: 10px
      margin-top: 0
      border: none
      padding: 5px
      background: rgba(0,0,0,.3)
      border-bottom: 1px solid #b53a3a
      border-radius: 2px
      transition: .2s ease-in-out border-color
      &:hover, &:focus
        border-color: #485261
    input::-webkit-input-placeholder
      color: #ccc
    input[type="submit"]
      float: right
      margin-top: 15px
      padding: 8px 10px
      color: #000
      background: #e34242
      transition: .2s ease-in-out background
      border-radius: 3px
      &:hover
        background: #b53a3a
        border-color: #e34242
        transform: translateY(1px)
    .check
      font-size: 12px
      font-family: Roboto
      font-weight: bold
      color: rgba(255,0,0,.6)
      font-weight: bold
      line-height: 5px
      padding: 10px 8px
      float: left
      margin: 13px 0 0 -15px
      border-radius: 2px
      text-align: left
      width: 200px
      background: #decba4
      transition: .2s ease-in-out all
      opacity: 0.8
.datafeed
  position: absolute
  top: 200px
  left: 50%
  transform: translate(-50%,0)

table
  margin-top: 50px
  tr
    &:nth-child(odd)
      > td
        background: rgba(88, 125, 52,1)
    &:nth-child(even)
      > td
        background: rgba(88, 125, 52,.6)
  th
    padding: 6.5px
    font-family: Roboto
  td
    text-align: center
    a
      text-decoration: none
      font-family: Roboto
      font-weight: bold
      font-size: 14px
      color: #fff
      padding: 5px 4px
table.delete-page
  tr
    color: #fff
    font-weight: 100
    &:nth-child(odd)
      > td
        background: rgba(255 ,255 ,255 ,.5)
    &:nth-child(even)
      > td
        background: rgba(255 ,255 ,255 ,.8)
    td
      color: #000
      font-weight: 500
////////////////////    daily update

.dailyupdates
  margin-bottom: 50px
  .updateform
    display: block
    width: 250px
    padding: 50px
    margin: 0 auto
    background: rgba(255,255,255,.4)
    border-radius: 3px
    border: 2px solid rgba(255,255,255,.5)
    label
      display: block
    .check p
      font-size: 14px
      font-family: Roboto
      font-weight: bold
      color: red
      font-weight: bold
      line-height: 5px
      padding: 10px 8px
      float: left
      margin: 13px 0 0 -15px
      border-radius: 2px
      text-align: left
      width: 200px
      transition: .2s ease-in-out all
      opacity: 0.8
    input,select
      margin-left: 20px
      margin-bottom: 10px
      background: rgba(255,255,255,0.5)
      padding: 3.5px
      border-radius: 2px
      border: none
    input[type="submit"]
      padding: 6px
      border: 1px solid #fff
      color: #fff
      background: rgba(0,0,0,.8)
      transition: .2s ease-in-out all
      margin-top: 10px
      &:hover
        color: #000
        background: #fff
        border-color: #000
    option
      background: rgba(255,255,255,0.5)
      padding: 3.5px

/////////////////// Pay Slip
header
  .inline
    display: inline-block
    h4
      display: inline-block
      margin: 10px 0 10px 0px

.slip
  text-align: center
  margin: 10px auto
  .receive
    .inline
      display: inline-block
      h3
        display: inline-block
        margin-bottom: 10px
        margin-left: 25px

/////////////////// navigation
nav::after,ul::after,li::after
  content: ""
  clear: both
  display: table
nav
  background: rgba(255,255,255,.5)
  height: auto
  ul
    width: 730px
    margin: 0 auto
    padding: 0
    li
      display: block
      float: left
      text-align: center
      padding: 10px
      a
        text-decoration: none
        padding: 10px
        display: inline
        color: #111
        font-weight: 500
        font-family: Roboto
        transition: 200ms ease all
        &:hover
          color: #fff
          background: #111
          border-radius: 5px

small
  color: #fff
  margin-left: 150px
  font-size: 14px

// pay button

.pay--button
  display: block
  margin-top: -20px
  margin-left: 50px
  position: relative
  z-index: 9999
  a
    background: rgba(255,255,255,.5)
    color: red
    padding: 10px
    border: 1px solid #000
    &:visited
      color: blue